@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'keen-slider/keen-slider.min.css';

@font-face {
  font-family: 'UniteaSans';
  src: url('./assets/fonts/unitea-sans-cufonfonts/UniteaSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'UniteaSans', sans-serif;
}

.MuiSvgIcon-root {
  fill: black !important;
}

.test::before {
  content: "";
  width: 0;
}